<%= link_to @path, class:  main_container_classes do %>
  <% if visual? %>
  <div class='flex flex-col justify-center'><%= visual %></div>
  <% end %>
  <div>
    <% if header? %>
      <h1 class="text-xl"><%= header %></h1>
    <% end %>
    <% if body? %>
      <%= body %>
    <% end %>
    <% if footer? %>
      <%= footer %>
    <% end %>
  </div>
<% end %>

