<% case property.class.name %>
  <% when 'Properties::Document' %> 
    <td class='text-center'>
      <%= link_to rails_blob_path(property.file, disposition: "attachment"), class: 'flex justify-center' do %>
        <%= render_icon 'file', classes: 'h-4 w-4' %>
      <% end %>
    </td>
  <% when 'Properties::Currency' %> 
    <td class='text-center'>
      <%= humanized_money_with_symbol property.value %>
    </td>
  <% when 'Properties::Folder' %> 
    <td class='text-center'>
      <%= render_icon 'folder', classes: 'h-4 w-4' %>
    </td>
  <% when 'Properties::Date' %> 
    <td class='text-center'>
      <%= property.value %>
    </td>
  <% else %> 
    <td class='text-center'>UnsuportedFormat</td>
<% end %>